<div class="dashboard">
  <h1>Expense Tracker Dashboard</h1>

  <div class="balance" [ngClass]="{ 'income': balance >= 0, 'expense': balance < 0 }">
    <h2>Balance: <span>{{ balance | currency }}</span></h2>
  </div>

  <div class="stats-container">
    <div class="stat-box income-box">
      <h2>Income</h2>
      <p>{{ income | currency }}</p>
    </div>
    <div class="stat-box expense-box">
      <h2>Expense</h2>
      <p>{{ expenses | currency }}</p>
    </div>
  </div>

  <h3>Transaction Statistics</h3>
  <canvas baseChart
    [datasets]="chartData.datasets"
    [labels]="chartData.labels"
    [options]="chartOptions"
    [legend]="true"
    [type]="'bar'">
  </canvas>

  <h3>Add Transaction</h3>
  
  <div class="input-group">
    <label for="category">Categorie:</label>
    <select id="category" [(ngModel)]="selectedCategory" name="category" (ngModelChange)="selectedCategory = +$event" (change)="onCategoryChange()" required>
      <option *ngFor="let category of categories" [value]="+category.id">{{ category.name }}</option>
    </select>  
  </div>

  <div class="input-group">
    <label for="subcategory">Subcategorie</label>
    <select id="subcategory" [(ngModel)]="selectedSubcategory" name="subcategory" (ngModelChange)="selectedSubcategory = +$event" required>
      <option *ngFor="let subcategory of subcategories" [value]="+subcategory.id">{{ subcategory.name }}</option>
    </select>
  </div>

  <div class="input-group">
    <label for="description">Description:</label>
    <input id="description" [(ngModel)]="description" placeholder="Transaction description" type="text">
  </div>

  <div class="input-group">
    <label for="amount">Amount:</label>
    <input id="amount" [(ngModel)]="amount" type="number">
  </div>

  <div class="input-group">
    <label for="date_activity">Datum gebeurd:</label>
    <input id="date_activity" [(ngModel)]="dateActivityString" type="date" >
  </div>

  <div class="input-group">
    <label for="date_payment">Datum betaling:</label>
    <input id="date_payment" [(ngModel)]="datePaymentString" type="date">
  </div>

  <div class="input-group">
    <label for="transactionType">Transaction Type:</label>
    <select [(ngModel)]="transactionType" id="transactionType">
      <option value="income">Income</option>
      <option value="expense">Expense</option>
    </select>
  </div>

  <div class="button-group">
    <button (click)="editingIndex === null 
      ? addTransaction() 
      : updateTransaction(editingIndex, { 
          description, 
          amount, 
          type: transactionType, 
          date_activity_happened,
          date_payment_happened,
          category: selectedCategory !== null 
            ? { id: selectedCategory, name: getCategoryName(selectedCategory) } 
            : null, 
          subcategory: selectedSubcategory !== null 
            ? { id: selectedSubcategory, name: getSubcategoryName(selectedSubcategory) } 
            : null 
        })"> 
      {{ editingIndex === null ? 'Add Transaction' : 'Update Transaction' }}
    </button>
  </div>

  <h3>Transaction History</h3>

  <div class="transaction-history">
    <ul>
      <li *ngFor="let transaction of transactions; trackBy: trackById">
        <div class="transaction-item">
          <span class="edit-text" (click)="editTransaction(transaction.id)">Edit</span>
            <span class="transaction-text">
            <span class="category">{{ transaction.category?.name }}</span>
            <span class="subcategory">{{ transaction.subcategory?.name }}</span>
            <span class="description">{{ transaction.description }}</span>
            <span class="amount">{{ transaction.amount | currency }}</span>
            <span class="transaction-type" [ngClass]="{'income': transaction.type === 'income', 'expense': transaction.type === 'expense'}">
              ({{ transaction.type }})
            </span>  
            <span class="date_activity">{{ formatDate(transaction.date_activity_happened) }}</span>
          </span>  
          <span class="delete-icon" (click)="deleteTransaction(transaction.id)">X</span>
        </div>
      </li>
    </ul>
  </div>
</div>