body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

h1, h2, h3 {
  font-size: 2.5rem;
  color: #00f2fe;
  text-align: center;
  margin-bottom: 1rem;
}

h2, h3 {
  font-size: 2rem;
  color: #f39c12;
}

.income span{
  color: #4caf50;
}

.expense span{
  color: #f44336;
}

button {
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
  background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
  transform: scale(1.05);
}

input, select {
  background-color: #2c2c2c;
  color: #fff;
  border: 2px solid #00f2fe;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

input[type="number"], input[type="text"] {
  font-size: 1rem;
}

input:focus, select:focus {
  border-color: #f39c12;
}

button, input, select {
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;
}

li:nth-child(odd) {
  background-color: #1e1e1e;
}

li:nth-child(even) {
  background-color: #292929;
}

li span {
  font-weight: bold;
  color: #f39c12;
}

ul li {
  animation: fadeIn 0.5s ease-in-out;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.transaction-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 1.1rem;
  color: #fff;
}

.description {
  margin-right: 10px;
  color: #fff;
}

.amount {
  font-weight: bold;
  color: #f39c12;
}

.income {
  margin-left: 5px;
  color: #4caf50;
  font-weight: bold;
}

.expense {
  margin-left: 5px;
  color: #f44336;
  font-weight: bold;
}

.edit-text {
  position: absolute;
  color: transparent;
  background: -webkit-linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s;
}

.edit-text:hover {
  color: #f39c12;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #f44336;
  cursor: pointer;
  font-size: 1.0rem;
  font-weight: bold;
}

.delete-icon:hover {
  color: #f39c12;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stat-box {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  flex: 1;
  margin: 0 10px;
  min-width: 200px;
}

.stat-box h2 {
  font-size: 1.5rem;
  color: #f39c12;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 1.2rem;
  color: #4CAF50;
  font-weight: bold;
}

.income-box p {
  color: #4CAF50;
}

.expense-box p {
  color: #F44336;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}